In [3]:
# 离散型特征进行one-hot编码
import pandas as pd
df = pd.DataFrame([  
            ['green', 'M', 10.1, 'class1'],   
            ['red', 'L', 13.5, 'class2'],   
            ['blue', 'XL', 15.3, 'class1']])  
df.columns = ['color', 'size', 'prize', 'class label']  
size_mapping = {  
           'XL': 3,  
           'L': 2,  
           'M': 1}  
df['size'] = df['size'].map(size_mapping)  

class_mapping = {label:idx for idx,label in enumerate(set(df['class label']))} 

df['class label'] = df['class label'].map(class_mapping) 


df

   color  size  prize  class label
0  green     1   10.1            1
1    red     2   13.5            0
2   blue     3   15.3            1

In [4]:
pd.get_dummies(df)

   size  prize  class label  color_blue  color_green  color_red
0     1   10.1            1           0            1          0
1     2   13.5            0           0            0          1
2     3   15.3            1           1            0          0

In [5]:
import numpy as np
values = np.random.rand(10)*100
values

array([ 27.58393443,  53.36697627,  11.78220291,   1.53280965,
        16.20433204,   2.40316965,   1.91486651,  57.0872512 ,
        69.93103546,  42.50252831])

In [6]:
bins = [0, 20, 40, 60, 80, 100]
pd.get_dummies(pd.cut(values, bins))

   (0, 20]  (20, 40]  (40, 60]  (60, 80]  (80, 100]
0        0         1         0         0          0
1        0         0         1         0          0
2        1         0         0         0          0
3        1         0         0         0          0
4        1         0         0         0          0
5        1         0         0         0          0
6        1         0         0         0          0
7        0         0         1         0          0
8        0         0         0         1          0
9        0         0         1         0          0

In [7]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [11]:
pd.get_dummies(df1['key'])
dummies = pd.get_dummies(df1['key'],prefix = 'key')
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [13]:
df_with_dummy = df1[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0