# 1. map() 是一个Series的函数，DataFrame结构中没有map()。map()将一个自定义函数应用于Series结构中的每个元素(elements)。
# 2. apply()和applymap()是DataFrame结构中的函数，Series中没有。
# 它们的区别在于，apply()将一个函数作用于DataFrame中的每个行或者列，
# 而applymap()是将函数做用于DataFrame中的所有元素(elements)。

In [5]:

import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df

               b         d         e
Utah   -0.477089  0.848593  2.017859
Ohio   -0.450839 -0.685958 -0.548808
Texas   1.049444  1.636228  0.607338
Oregon  0.588858 -0.462129  0.546452

In [6]:
f = lambda x: x.max() - x.min()
df.apply(f)

b    1.526533
d    2.322186
e    2.566668
dtype: float64

In [8]:
format = lambda x: '%.2f' % x
df.applymap(format)

            b      d      e
Utah    -0.48   0.85   2.02
Ohio    -0.45  -0.69  -0.55
Texas    1.05   1.64   0.61
Oregon   0.59  -0.46   0.55

In [9]:
df['e'].map(format)

Utah       2.02
Ohio      -0.55
Texas      0.61
Oregon     0.55
Name: e, dtype: object